[push]
        default = simple
[user]
        name = namogel
        email = benjamin@sketchfab.com
[rebase]
    autoSquash = true
    autoStash = true
[alias]
        co = checkout
        ci = commit
        st = status
        br = branch
        logs = !git log --oneline --decorate
        fixup = "!sh -c 'revision="$( git rev-parse $1 )" && git commit --fixup="${revision}" && git rebase -i --autosquash "${revision}"^' -"
        pushup = "!f() { git rev-parse --abbrev-ref HEAD | xargs -I {} git push -u origin {}; }; f"
