[push]
    default = current
[rebase]
    autoSquash = true
    autoStash = true
[pager]
    branch = false
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    pf = push --force
    rh = reset --hard
    rs = reset --soft
    rbd = rebase origin/develop
    rbm = rebase origin/master
    rbc = rebase --continue
    cp = cherry-pick
    logs = !git log --oneline --decorate
    fixup = "!sh -c 'revision="$( git rev-parse $1 )" && git commit --fixup="${revision}" && git rebase -i --autosquash "${revision}"^' -"
    pushup = !git push -u -o merge_request.create -o merge_request.target=develop
    delete = !git branch -D
