# HOST
alias skfbvmon="cd ~/dev/sketchfab/local && vagrant up sketchfab-local --provision"
alias skfbmount="sudo mount -o nolock sketchfab-local.com:/sketchfab/ ~/dev/sketchfab/vm"
alias skfbup="skfbvmon && sleep 10 && skfbmount && ssh skfb"
alias skfbumount="sudo umount ~/dev/sketchfab/vm"
alias skfbvmoff="cd ~/dev/sketchfab/local && vagrant halt sketchfab-local"
alias skfbdown="skfbumount && skfbvmoff"
alias shut="skfbdown && sudo shutdown 0"
alias difftree="git diff-tree --no-commit-id --name-only -r"


# VM
alias delete="git br -D"
alias difftree="git diff-tree --no-commit-id --name-only -r "
alias yapf="yapf -i"
alias isort="isort -y"
alias docker="sudo docker"
alias dbs="sudo ./docker.sh manage switch_db --list"
alias dropdb="sudo ./docker.sh dropdb"
alias createdb="sudo ./docker.sh createdb"
alias resetes="sudo ./docker.sh manage reset_es --force && sudo ./docker.sh manage load_es_data --search"
alias test="sudo ./docker.sh manage test -k "
alias populator="sudo ./docker.sh manage populator --force"
alias shell="sudo ./docker.sh manage shell"
alias manage="sudo ./docker.sh manage"

export PS1="\[\e[36m\]\u\[\e[m\]@\[\e[35m\]\h\[\e[m\]: "
alias up="./docker.sh up -d"
alias down="./docker.sh down"
alias downup="./docker.sh down && ./docker.sh up -d"
alias build="./docker.sh build"
alias downbuildup="./docker.sh down && ./docker.sh build && ./docker.sh up -d"
